.oakley{
  display: flex;
  justify-content: center;
  padding-top: 110px;
  background-color: #f2f2f2;
  position: relative;
  /* transform: translateY(-50px); */
}

.oakley::before {
  width: 100%;
  content: "";
  height: 50px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  top: -50px;
}